In [2]:
a = "vamshikrishna"
a.count('i')

2

In [7]:
def c_count(coll,ele):
    count = 0
    start = 0 
    end = len(coll)
    while start<end:
        if coll[start] == ele:
            count+=1 
        start += 1 
    return count
c_count('vamshikrishna','a')

2

In [8]:
word = "VAMSHI"
word.lower()

'vamshi'

In [20]:
def lower(coll):
    if type(coll) != str:
        raise AttributeError("Please enter a string value")
    else:
        start = 0 
        res = ''
        end = len(coll)
        while start<end:
            if 'A' <= coll[start] <= 'Z':
                res += chr(ord(coll[start])+32)
            else:
                res += coll[start]
            start += 1
        return res 
lower('VAMSHI')

'vamshi'

In [21]:
word = "krishna@123gmail.com"
word.upper()

'KRISHNA@123GMAIL.COM'

In [22]:
def upper(coll):
    if type(coll) != str:
        raise AttributeError("It's work only for string")
    else:
        start = 0 
        end = len(coll)
        res = ''
        while start<end:
            if 'a'<=coll[start]<='z':
                res += chr(ord(coll[start])-32)
            else:
                res+=coll[start]
            start+=1 
        return res 
upper('vamshikrishnachandra@gmail.com')

'VAMSHIKRISHNACHANDRA@GMAIL.COM'

In [23]:
word = 'vamshi'
word.islower()

True

In [27]:
def islower(coll):
    if type(coll) != str:
        raise AttributeError("Its works only for string")
    else:
        start = 0 
        end = len(coll)
        while start < end:
            if 'A'<=coll[start]<='Z':
                return False 
            else:
                return True 
            start += 1
islower('vamshi@123')

True

In [28]:
word = 'VAMSHI'
word.isupper()

True

In [29]:
def isupper(coll):
    if type(coll) != str:
        raise AttributeError("Its accept string values")
    else:
        start = 0 
        end = len(coll)
        while start<end:
            if 'a'<=coll[start]<='z':
                return False 
            else:
                return True 
isupper('VAMSHI@123')

True

In [33]:
num = '123'
num.isnumeric()

True

In [34]:
def isnumeric(num):
    if type(num) != str:
        raise AttributeError("Please enter a string")
    else:
        start = 0 
        while start<len(num):
            if not('0'<= num[start]<='9'):
                return False
            else:
                return True 
isnumeric('123')

True

In [51]:
def isspecial(coll):
    if type(coll) != str:
        raise AttributeError("its accept string only")
    else:
        start = 0 
        end = len(coll)
        while start<end:
            if '0'<= coll[start]<= '9' or 'A' <= coll[start]<= 'Z' or 'a' <= coll[start] <= 'z':
                return False
            return True 
            start += 1 
isspecial('1')

False

In [53]:
st = ' '
st.isspace()

True

In [54]:
def isspace(coll):
    if type(coll) != str:
        raise AttributeError("Its accpet String value")
    elif len(coll)==0:
        return False
    else:
        start = 0 
        end = len(coll)
        while start<end:
            if coll[start] != " ":
                return False 
            else:
                return True 
            start += 1 
isspace(' ')

True

In [56]:
str = chr(65)
str.isascii()

True

In [60]:
def u_str(num):
    if not(chr(0)<=num<=chr(127)):
        return False
    else:
        return True
u_str(chr(56))

True

In [63]:
id = 'True'
id.isidentifier()

True

In [1]:
from keyword import kwlist 

def isidentifer(coll):
    if type(coll) != str:
        raise AttributeError("its accept only string")
    if '0'<= coll[0] <= '9' or coll in kwlist:
        return False 
    start = 0 
    while start < len(coll):
        if not ('A'<=coll[start]<='Z' or 'a'<=coll[start]<='z' or '0'<=coll[start]<='9' or coll[start]=="_"):
            return False
        start+=1
        return True
isidentifer('True')

False

In [5]:
#swapcase 
st = 'VAMSHIKRISHNA'
st.swapcase()

'vamshikrishna'

In [12]:
def swapcase(coll):
    if type(coll)!= str:
        raise AttributeError
    else:
        start = 0 
        res= ''
        while start<len(coll):
            if('A'<=coll[start]<='Z'):
                res += chr(ord(coll[start])+32)
            elif('a'<=coll[start]<='z'):
                res += chr(ord(coll[start])-32)
            else:
                res += coll[start]
            start+=1 
        return res 
swapcase('VAMSHI')

'vamshi'

In [13]:
#captialize 
a = 'krishna'
a.capitalize()

'Krishna'

In [22]:
def is_captailize(coll):
    if type(coll) != str:
        raise AttributeError
    start = 0 
    end = len(coll)
    res = ''
    while start<end:
        if 'a'<=coll[0]<='z':
            res = chr(ord(coll[start])-32)
        else:
            res+=coll[start]
        start=1
        while start<len(coll):
            if 'A' <= coll[start]<='Z':
                res = chr(ord(coll[start])+32)
            else:
                res += coll[start]
            start+=1
    return res 
is_captailize('vamshi')

'Vamshi'

In [4]:
#properfunction
def is_proper(coll):
    if type(coll) != str:
        raise AttributeError 
    if 'a' <= coll[0] <= 'z':
        return False
    start = 1 
    while start<len(coll):
        if 'A'<=coll[start]<="Z":
            return True
        start+=1 
    return True 
is_proper('Sainath')

True

In [6]:
#snakecase
#wap to convert string intp snakecase
#stars with uppercase
#spaces are replaced with "_"
#except first letter all are in lowercase 
def snakecase(coll):
    if type(coll)!=str:
        raise AttributeError 
    res = ''
    if 'a' <= coll[0] <= 'z':
        res += chr(ord(coll[0])-32)
    else:
        res += coll[0]
        
    start = 1 
    while start<len(coll):
        if 'A' <= coll[start] <= 'Z':
            res += chr(ord(coll[start])+32)
        elif coll[start]==' ':
            res += "_"
        else:
            res += coll[start]
        start+=1
    return res 
snakecase('sai krishna')

'Sai_krishna'

In [17]:
#check wheather given word is snakecase or not
def check_snakecase(coll):
    if type(coll) != str:
        raise AttributeError 
    if 'a' <= coll[0] <= 'z' or coll[0]==' ':
        return False 
    start = 1 
    while start<len(coll):
        if 'A' <= coll[start] <= 'Z':
            return False 
        elif coll[start]==" ":
            return False
        start+=1 
    return True 
check_snakecase('Vamshi_krishna')

True

In [3]:
#daragon case
#starts and ends with __ minimum.
#No space, (replaced by _)
#No uppercase characters
def dragon_case(coll):
    if type(coll) != str:
       raise  AttributeError
    res = '' 
    if(len(coll)>0):
        start = 0
        while start<len(coll):
            if 'A'<=coll[start]<='Z':
                res+=chr(ord(coll[start])+32)
            elif 'a'<=coll[start]<='z':
                res+=coll[start]
            elif coll[start]==' 'or coll[start]=='_':
                res+='_'
            start+=1
        coll = res
        if coll[0] != "_":
            res = "__" + coll
        elif coll[0] == '_' and coll[1]!='_':
            res = '_'+ coll
        else:
            res = coll
        if res[-1]!='_':
            res = res+ '__'
        elif res[-1]=='_' and res[-2] != '_':
            res = res + '_'
        return res
    else:
        print('Empty string')
dragon_case("vamshi")

'__vamshi__'

In [8]:
start=eval(input("enter the starting integer number"))
end=0
while start>=end:
    if start%2!=0:
        print(start)
    start-=1

5
3
1